.citynotfound h1{
  font-size: 4rem;
  padding-left: 32rem;
  padding-top: 8rem;
}

.citynotfound p{
    font-size: 1.5rem;
    padding-left: 31rem;
    padding-top: 1rem;
    padding-bottom: 15rem;
  }
  
  