<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prakriti</title>
    <script src="https://kit.fontawesome.com/7c13eadab8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="{{ url_for('static', filename='javascript/main.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}" />

    {% block head %} {% endblock%}

</head>
<body>  

    <nav>
        <div class="logo"> <a href="{{ url_for('home') }}"> <img src="{{ url_for('static', filename='images/prakriti.png') }}" height= "60"> </a> </div>
        <div class="cat">
          <ul class="nav-items">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('weather') }}">Weather</a>
            <a href="{{ url_for('blog') }}">Blog</a>
            <a href="{{ url_for('health') }}">Health</a>
            <a href="{{ url_for('consultation') }}">Consultation</a>
          </ul>
          <span class="material-symbols-outlined theme-button">
            light_mode
          </span>
        </div>
      </nav>

    {% block body %} {% endblock%}
    
    <section class="footer">
        <hr class="footerhr">
        <h3>About Us</h3>
        <p>An app that provides information on air and water quality thus aiding in environment monitoring. </p>
        <div class="icons">
          <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
          <a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
          <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
          <a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
        </div>
        <p>© Copyright 2023, Made In India</p>
      </section>
</body>
</html>