{% extends 'base.html' %}


{% block head %}

{% endblock%}


{% block body %}
<section class="unmain">
    <h1>Weather</h1>
    <p>Weather data in an elegant way.</p>
      <div class="unmain-container">
      </div>
  </section>


  <section class="perosnalised-weather">
    <section class="banana">
      <div class="realtime-data-one">
        <h1>Bangalore, India</h1>
        <h2 class="date">Sep 30, 6:20pm, Partially Cloudy</h2>
        <img src="images/small.png">
      </div>
      <div class="daywise">
        <img src="images/daywise.png">
      </div>
    </section>
    <hr class="footerhr">
  </section>






  <section class="air-parameters">
    <div class="platelets">
      <u>AQI</u> <u>PM</u> <u>NO</u> <u>CO</u> <u>O3</u> <u>SO2</u> <u>NO2</u>
    </div>
    <div class="ponziani">
      <p>92</p> <p>69</p> <p>47</p> <p>93</p> <p>42</p> <p>2</p> <P>47</P>
    </div>  
  </section>


{% endblock%}